<app-header />

<div class="manage-order-container d-flex flex-wrap">
  <div class="manage-order-left-container d-flex flex-column col-8">
    @if (order()!== null && order()?.orderType === OrderType.DELIVERY) {
      <app-customer-form (onSaveCustomer)="onSaveCustomer($event)" [customer]="order()!.customer!"/>
    }
    @if (order() && order()?.orderType === OrderType.PERSONAL) {
      <input class="form-control" [disabled]="order()?.id!==null" type="text" placeholder="Nombre o Referencia" [(ngModel)]="order()!.reference">
      <br>
    }
    <div class="manage-order-product-container">
      <app-search-products (onAddProduct)="onAddProduct($event)"/>
    </div>

    @if (order()?.id && hasPermissions([Role.ADMIN, Role.CASHIER, Role.MANAGER])){
      <div class="manage-order-actions-container d-flex flex-row justify-content-center ">
        @if (order()?.orderType === OrderType.LOCAL) {
          <button class="btn btn-outline-primary col-2" (click)="onMoveTable()">Mover Mesa</button>
        }
        <button class="btn btn-outline-primary col-2" (click)="onPrintTicket()">Ticket</button>
        @if (order()?.orderType === OrderType.LOCAL) {
          <button class="btn btn-outline-success col-2" (click)="onPartialPay()">Pago Parcial</button>
        }
        <button class="btn btn-outline-success col-2" (click)="onPay()">Pagar</button>
      </div>
    }
  </div>
  <div class="manage-order-summary-container col-4">
    @if (order()) {
      <app-order-summary [order]="order()!"/>
    }
  </div>
</div>

<app-move-table-modal (onConfirmChangeTable)="onConfirmMoveTable($event)"/>
