
$base-height: 90vh;

.manage-order-container {
  height: $base-height;
  padding: 1rem 2rem;
}

.manage-order-left-container {
  height: 100%;

  .manage-order-product-container {
    flex: 1;
    border: solid 1px lightgray;
    overflow: auto;
    scrollbar-width: none; /* Firefox */
  }

  .manage-order-actions-container {
    padding: 1rem;
    margin-top: 1rem;
    border: solid 1px lightgray;
    .btn {
      margin-right: 1rem;
    }
  }

}

.manage-order-summary-container {
  padding-left: 0.5rem;
  height: 100%
}
