@if (show) {
  <div class="modal-backdrop">
    <div class="modal-content">
      <br>
      <div class="actions-container row justify-content-center">
        <button class="btn btn-outline-primary col-2" (click)="onSubtract()">-</button>
        <span class="col-4">{{item.quantity}}</span>
        <button class="btn btn-outline-primary col-2" (click)="onAdd()">+</button>
      </div>
      <br>
        <div class="form-floating">
          <textarea class="form-control" [(ngModel)]="item.comment" placeholder="Comentarios">
            {{item.comment}}
          </textarea>
          <label>Comentarios</label>
        </div>
      <hr class="mb-4 mt-4">
      <div class="row justify-content-center">
        <button class="btn btn-primary col-5" (click)="confirm(true)">Aceptar</button>
        <button class="btn btn-primary col-5 offset-1" (click)="confirm(false)">Cancelar</button>
      </div>
    </div>
  </div>
}
