<app-header/>
<div class="container cashcut-container d-flex flex-column">

  <!-- Top panel -->
  <div class="d-flex flex-column mt-4">
    <h2>Corte Activo</h2>
    @if (cashcutActive()) {
      <div class="d-flex flex-row mt-2">
        <div class="d-flex flex-column col-5">
          <div class="d-flex flex-row">
            <div class="col-6">
              <h4>Inicio de corte:</h4>
            </div>
            <div class="col-6 d-flex justify-content-end">
              <h4>{{cashcutActive()!.initialDate | date:  'dd-MM-yyyy HH:mm'}}</h4>
            </div>
          </div>
          <div class="d-flex flex-row">
            <div class="col-6">
              <h4>Saldo Inicial:</h4>
            </div>
            <div class="col-6 d-flex justify-content-end">
              <h4>{{cashcutActive()!.initialAmount | currency:"USD"}}</h4>
            </div>
          </div>
          <div class="d-flex flex-row">
            <div class="col-6">
              <h4>Ventas Totales:</h4>
            </div>
            <div class="col-6 d-flex justify-content-end">
              <h4>{{cashcutActive()!.totalOrders | currency:"USD"}}</h4>
            </div>
          </div>
          <div class="d-flex flex-row">
            <div class="col-6">
              <h4>Gastos Totales:</h4>
            </div>
            <div class="d-flex col-6 justify-content-end">
              <h4>{{cashcutActive()!.totalExpenses | currency:"USD"}}</h4>
            </div>
          </div>
          <div class="d-flex flex-row">
            <div class="col-6">
              <h4 class="fw-bold success">Total en Caja:</h4>
            </div>
            <div class="col-6 d-flex justify-content-end">
              <h4 class="fw-bold success">{{cashcutActive()!.total | currency:"USD"}}</h4>
            </div>
          </div>
          <div class="d-flex flex-row justify-content-center mt-4">
              <button class="btn btn-outline-primary col-6" [routerLink]="['/cashcut/details', cashcutActive()!.id]">Ver Detalle</button>
          </div>
        </div>
        <div class="d-flex flex-column col-5 offset-2">
          <div class="actions-container">
            <form [formGroup]="cashcutForm" (ngSubmit)="onCashCut()">
              <div class="form-floating">
                <input class="form-control" formControlName="initialAmount" type="number" placeholder="Saldo inicial de caja">
                <label>Saldo inicial de caja</label>
              </div>
              <br>
              <button class="btn btn-outline-primary col-12 mb-2" [class.disabled]="!cashcutForm.valid" [disabled]="isLoading">Realizar Corte</button>
              <button class="btn btn-outline-danger col-12" (click)="onCancel()">Cancelar</button>
            </form>
          </div>
        </div>
      </div>
    }
  </div>

  <hr>

  <!-- Bottom panel -->
  <div class="d-flex flex-column">
    <h2>Lista de Cortes</h2>
    <div class="cashcut-list-container">
      <div class="d-flex flex-row dark-color text-white p-2 text-center">
        <div class="col-2"> <span>Fecha Inicio</span> </div>
        <div class="col-2"> <span>Fecha Termino</span> </div>
        <div class="col-2">Ventas</div>
        <div class="col-2">Gastos</div>
        <div class="col-2">Total</div>
        <div class="col-2"></div>
      </div>
      @for (cashcut of cashcuts(); track cashcut.id) {
        <div class="d-flex flex-row text-center pt-2 p-1 border">
          <div class="col-2"><span>{{cashcut.initialDate | date: 'dd-MM-yyyy HH:mm' }}</span> </div>
          <div class="col-2"><span>{{cashcut.finalDate | date: 'dd-MM-yyyy HH:mm' }}</span> </div>
          <div class="col-2"><span>{{cashcut.totalOrders | currency: "USD" }}</span></div>
          <div class="col-2"><span>{{cashcut.totalExpenses | currency: "USD" }}</span></div>
          <div class="col-2"><span>{{cashcut.total | currency: "USD" }}</span></div>
          <div class="col-2"> <button class="btn btn-outline-primary" [routerLink]="['/cashcut/details', cashcut.id]"> Ver Detalle</button> </div>
        </div>
      }
    </div>

  </div>
</div>
