/* You can add global styles to this file, and also import other style files */
@use 'variables' as *;

/* styles.scss */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
  font-family: 'PT Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.dark-color {
  background: #263c48 !important;
}

.font-light {
  color: gray;
}


.btn-outline-primary {
  border-color: $primary-color;
  color: $primary-color;

  &:hover {
    background-color: $primary-color;
    color: white;
  }
}


.btn {
  &.disabled {
    opacity: 0.4;
  }
}
