@use 'variables' as *;

.item-container {
  display: flex;
  flex-direction: column;
  height: 12rem;
  width: 10rem;
  border-radius: 0.5rem;
  background-color: $secondary-color;
  margin: 0.5rem;
  padding: 1rem;

  &:hover {
    opacity: 0.9;
  }

  .icon {
    margin: auto;
    width: 4rem;
    height: 4rem;
  }

  span {
    margin: auto;
    font-size: 1.2rem;
    color: white;
  }
}
